body {
    font-family: monospace;
    text-align: center;
    background-color: white;
    
}

.horizontal-menu {
  display: flex;  
  justify-content: center;  
  background-color: pink;  
  padding: 15px 0;  
}

.horizontal-menu a {
  background-color: #eee; 
  color: black;  
  padding: 18px 30px;  
  text-decoration: none;  
  text-align: center;  
  font-size: 1.5em;  
}

.horizontal-menu a:hover {
  background-color: whitesmoke; 
}

.horizontal-menu a.active {
  background-color: lightpink; 
  color: white;
}

.main-image {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
}

.main-image img {
    width: 100%;
    height: auto;
}

.main-image h1 {
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 46px;
    background-color: rgba(0, 0, 0, 0.5); 
}

.product {
    display: inline-block;
    width: 180px;
    margin: 15px;
    text-align: center;
    vertical-align: top;
}

.product img {
    width: 150px;
    height: 150px;
}

button {
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: rosybrown;
}